:root {
    --main-bg: #fff2eb;
    --gold-font-color: #c79429;
    --blue-font-color: #56609e;
    --footer-bg: #3a3737;
}

.navbar {
    width: 100%;
}
.navbar .container {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .container img {
    width: 50px;
}
.navbar .container .links a {
    font-size: 23px;
    width: 120px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
